.TodoInsert {
  display: flex;
}

input {
  background-color: none;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  background-color: rgb(58, 84, 180);
  padding-left: 10px;
  width: 95%;
  height: 50px;
}

input::placeholder {
  padding-left: 10px;
  color: rgb(230, 230, 230);
}

.TodoInsertButton {
  width: 5%;
}
