#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(251, 241, 229);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

#header_title {
  font-size: 25px;
  font-weight: bold;
}

#navbar_menu {
  list-style: none;
  display: flex;
  margin: 0;
  font-size: 15px;
  margin-right: 20px;
}

#navbar_menu li {
  padding: 8px 15px;
}

#a_home {
  color: red;
}

#navbar_menu li :hover {
  background-color: rgb(241, 164, 180);
  border-radius: 5px;
  width: 50px;
  height: 30px;
}

#header_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(51, 22, 170);
  padding-left: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
